@import 'jeet/index';

.headline {
    font-size: 3.75rem;
  }

.white {
      color: #fff;
  }

.grey {
  color: #555E69;
}

.hero {
  padding: 12px 0 90px 0;
  background: #48cfad;
  z-index: 10;
}

.text-center {
    text-align: center;
}

section2 {
  @include col(1/4);
  margin-left: 25%;
  padding-top: .35%;
}

article2 {
  @include col(1/4);
  width: 100%;
  font-size: 1.75rem;
}

section {
  @include col(3/4);
  float: left;
  width: 22.75%;
}

article {
  @include col(3/4);
  width: 100%;
  font-size: 1.75rem;
}

.h1 {
  font-family: 'Helvetica W02 Roman', "Helvetica Neue", Helvetica, Arial, sans-serif, arial, sans-serif;
}

.about {
  background: #FEC0B5;
  font-size: 2.00rem;
}

.for-picture {
  margin-left: 37%;
    height: 500px;
    width: 30%;
}
