@import 'jeet/index';

.meme_input {
  padding-top: 2%;
  font-size: 1.75rem;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #21B291;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.headline {
    font-size: 3.75rem;
  }

.white {
      color: #fff;
  }

.grey {
  color: #5E5E5E;
}

.grey2 {
  color: #DFDEDE;
}

.hero {
  padding: 12px 0 90px 0;
  background: #48cfad;
  z-index: 10;
}

.text-center {
    text-align: center;
}

section2 {
  @include col(1/4);
  margin-left: 25%;
  padding-top: .35%;
}

article2 {
  @include col(1/4);
  width: 100%;
  font-size: 1.75rem;
}

section {
  @include col(3/4);
  float: left;
  width: 22.75%;
}

article {
  @include col(3/4);
  width: 100%;
  font-size: 1.75rem;
}

.h1 {
  font-family: 'Helvetica W02 Roman', "Helvetica Neue", Helvetica, Arial, sans-serif, arial, sans-serif;
}

.about {
  background: #FEDBD5;
  font-size: 2.00rem;

}

.for-picture {
  margin-left: 37%;
    height: 500px;
    width: 30%;
}
